/*在线客服*/
.customer_hide{
	width:35px;
	height:160px;
	background: url(../img/online.png)  no-repeat;
	cursor:pointer;
}
.customer{
	width:auto;/*如果客服要左边浮动，需要改成实际宽度，例：width:111px;*/
	z-index:1000;
	position:fixed;
	right:0px;
	top:50%;
	margin-top:-58px;
}
.customer_title{
	background: url(../img/kefu_title.jpg)  no-repeat;
	width:150px;
	height:170px;
	line-height:28px;
	text-align:center;
	color:#fff;

}
.customer_close{
	float:right;
	margin-right:3px;
	margin-top:2px;
}
.customer_main{
	background: #fff;
	width:140px;
	border:5px solid #09a610;
	border-top:none;
	padding-bottom:10px;
}
.customer_main .cus_group{
	padding-top:10px;
}
.customer_main .cus_group h3{
	color:#000;
	border-bottom:1px solid #e9e9e9;
	height:25px;
	line-height:25px;
}
.customer_main .cus_group ul{
	padding:5px 0px;
}	
.customer_main .cus_group ul li{
	height:22px;
	line-height:22px;
}
.customer_main .cus_group ul li img{
	vertical-align:middle;
}










































