/* classify_01ä¾§æ æ ·å¼  
--------------------------------------------------------------------*/
.classify{
	position:relative;
	padding-bottom:0;
}
.classify h3{
	font-size:16px;
	height:30px;
	/*border-bottom:solid 1px #e6e6e6;*/
}
.classify li{
	width:100%;
	line-height:43px;
	position:relative;
}
.classify li a{
	position:relative;
	display:block;
	text-indent:20px;
	font-size:14px;
}
.classify ul li{
	background: url(../../img/zidhx.jpg) bottom left no-repeat;
}
.classify ul li.current{
	background: url(../../img/zidhx_on.jpg) bottom left no-repeat;
	color:#01b316;
}
.classify ul li.current a.cur:link,.classify li.current a.cur:visited{
	color:#fff;
}

/*äºŒçº§*/
.classify ul li .child{
	position:relative;
	top:0px;
	left:0px;
	width:100%;
	height:auto;
	overflow:hidden;
}
.classify ul li .child ul li{
	border-bottom:1px solid #fff;
	border:none;
	*background:#f9f9f9;
	_background:#f9f9f9;
}
.classify ul li .child ul li a{
	background:#f9f9f9;
	border-bottom:1px solid #F5F5F5;
	*display:inline-block;
	_display:inline-block;
	_height:24px;
	_margin-top:2px;
}

/*ç®­å¤´*/
.classify li .arrow{
	position:absolute;
	width:30px;
	height:30px;
	top:0px;
	right:0px;
	cursor:pointer;
}
.classify li .arrow a{
	display:block;
	width:30px;
	height:30px;
}
.classify li .arr_01 a{
	background:url(../../img/common/ico_1.gif) no-repeat center center;
}
.classify .current .arr_01 a{
	background:url(../../img/common/ico_1_w.gif) no-repeat center center;
}
.classify li .arr_01 a:hover{
	background:url(../../img/common/ico_3_w.gif) #1b5eb1 no-repeat center center;
}
.classify li .on a{
	background:url(../../img/common/ico_2_w.gif) #1b5eb1 no-repeat center center;
}
.classify li .on a:hover{
	background:url(../../img/common/ico_2_w.gif) #1b5eb1 no-repeat center center;
}
.classify .current .on a{
	background:url(../../img/common/ico_2_w.gif) #1b5eb1 no-repeat center center;
}





































