/* button   全局按钮  
--------------------------------------------------------------------*/

/*按钮1样式---------------------------------------*/
.button_1_b{
	display:block;
	background:#0da92e;
	border:1px solid #0da92e;
	height:30px;
	line-height:30px;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	color:#fff;
}
.button_1_b:link,.button_1_b:visited{
	color:#fff;
}
.button_1_b:hover{
	background:#333;
	border: 1px solid #333;
	text-decoration:none;
}
.button_1_b:active{
	background:#0da92e;
}
/*按钮1样式-小---------------------------------------*/
.button_1_s{
	display:block;
	background:url(../../img/common/button/button_bg.gif) repeat-x left top;
	border:1px solid #D80000;
	height:20px;
	line-height:20px;
	font-size:12px;;
	text-align:center;
	color:#fff;
}
.button_1_s:link,.button_1_s:visited{
	background:#D80000;
	color:#fff;
}
.button_1_s:hover{
	background:#069a25;
	text-decoration:none;
}
.button_1_s:active{
	background:#0da92e;
}

/*按钮2样式---------------------------------------*/
.button_2_b{
	display:block;
	background:url(../../img/common/button/button_bg.gif) repeat-x -300px top;
	border:1px solid #dadada;
	height:30px;
	line-height:30px;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	color:#0da92e;
}
.button_2_b:link,.button_2_b:visited{
	color:#0da92e;
}
.button_2_b:hover{
	background:#ddd;
	text-decoration:none;
}
.button_2_b:active{
	background:#e3e3e3;
}

/*按钮2样式-小---------------------------------------*/
.button_2_s{
	display:block;
	background:url(../../img/common/button/button_bg.gif) repeat-x -300px top;
	border:1px solid #dadada;
	height:20px;
	line-height:20px;
	font-size:12px;
	text-align:center;
	color:#0da92e;
}
.button_2_s:link,.button_2_s:visited{
	color:#0da92e;
}
.button_2_s:hover{
	background:url(../../img/common/button/button_bg.gif) repeat-x -300px -30px;
	text-decoration:none;
}
.button_2_s:active{
	background:#e3e3e3;
}

.input-mini {
  width: 60px;
}
.input-small {
  width: 90px;
}
.input-medium {
  width: 150px;
}
.input-large {
  width: 210px;
}
.input-xlarge {
  width: 270px;
}
.input-xxlarge {
  width: 530px;
}

