
/* head   头部样式  
--------------------------------------------------------------------*/
.header{
	height:120px;
	z-index:999;
	}
/* search   搜索样式  
--------------------------------------------------------------------*/
.search{
	background: url(../../img/ind_icon.png) 0 -58px no-repeat;
	width:150px;
	height:26px;
	float: left;
}
.search input{
	background:none;
	border:none;
	height:25px;
	line-height:25px;
	padding-left:10px;
}
.search a{
	display:block;
	height:25px;
}
.search a:hover{
	text-decoration:none;
}
/* picScroll-left   样式  
--------------------------------------------------------------------*/
.picScroll-left{ width:260px; position:relative;  }
.picScroll-left .hd{ 
	overflow:hidden;  
	height:19px;
	width: auto;
	left: 25%;
	position: relative;

}
.picScroll-left .hd .prev,.picScroll-left .hd .next{ display:block;  width:19px; height:19px; float:right; margin-right:5px;  overflow:hidden;cursor:pointer; }
.picScroll-left .hd .next{ background:url(../../img/ind_icon.png) -180px -244px no-repeat; }
.picScroll-left .hd .prev{ background:url(../../img/ind_icon.png) -0 -244px no-repeat; }
.picScroll-left .hd ul{ float:right; overflow:hidden; zoom:1; zoom:1; }
.picScroll-left .hd ul li{ float:left;  width:15px; height:15px; overflow:hidden; margin:2px 5px 0px 0px; text-indent:-999px; cursor:pointer; background: url(../../img/ind_icon.png) -119px -247px no-repeat;; }
.picScroll-left .hd ul li.on{ background: url(../../img/ind_icon.png) -63px -247px no-repeat;}
.picScroll-left .bd{  }
.picScroll-left .bd ul{ overflow:hidden; zoom:1; }
.picScroll-left .bd ul li{ margin:0 4px; float:left; _display:inline; overflow:hidden; text-align:center;  }
.picScroll-left .pic{ margin:0px;padding:0px; overflow:hidden; display:inline; width:90px;}
.picScroll-left .bd ul li .title a {
	color: #0da92e;
	font-weight:bold;
}

/*新闻列表
--------------------------------------------------------------------*/
.ind_news_list li{
	border-bottom:1px dashed #ddd;
	height:30px;
	line-height:30px;
}
.ind_news_list li.first{
	height:80px;
	line-height:15px;
}
.ind_news_list li a.news_classify{
	
}
.ind_news_list li h4{
	display:inline;
	background: url(../../img/common/ico_1.gif) no-repeat left 4px;
	padding-left:14px;
}
/*内页列表
--------------------------------------------------------------------*/
.news_list ul li.first{
	height:160px;
	line-height:15px;
}
.news_list ul li.first img{
	height:120px;
}
/*资质荣誉列表
--------------------------------------------------------------------*/
.honor_list a img{
	border:solid 1px #ccc;
}
.honor_img_01 a img{
	width:150px;
	height:180px;
}
.honor_img_02 a img{
	width:160px;
}
.honor_list li.grid_22  {width:160px; margin-right:35px;}

.honor_list li.grid_22 span.grid_20 {width:160px;}

.honor_list li.grid_22 ul.grid_22 {width:150px;}

/*内页产品列表图片
--------------------------------------------------------------------*/
.products_list .pro_info p{
	line-height:22px;
}
.products_list .pic .Small img{
	width:220px;
	height:163px;
}
/*下载列表图片
--------------------------------------------------------------------*/
.download ul li .pic img{
	width:110px;
	height:110px;
}
/*友情链接列表图片
--------------------------------------------------------------------*/
.Links ul li img{
	width:120px;
	height:50px;
}



/*首页栏目模块
--------------------------------------------------------------------*/
.Sequence{
	height:22px;
	overflow:hidden;
}
/*招聘按钮
--------------------------------------------------------------------*/
.hr .b_wrap_1, .hr .b_wrap_1_s, .hr .b_wrap_2, .hr .b_wrap_2_s{
	float:right;}
/*排序按钮
--------------------------------------------------------------------*/
.Sequence_r .b_wrap_1, .Sequence_r .b_wrap_1_s, .Sequence_r .b_wrap_2, .Sequence_r .b_wrap_2_s{
	float:right;}






































